/*page styling*/

body{
background-color: #caadb1;
font-family: 'Times New Roman', Times, serif;
color: #caadb1;
}
h1{
    color: #252333;
}

/* Nav bar styles*/
.navbar{
    background: #AA8086;
    border-bottom: 2px solid #333123;
}
.navbar-brand{
 font-size: 2.5rem;
 font-weight: bold;
 color: #791A31;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-brand:hover {
	transition: ease-in-out;
    background: none;
}

/*pokemon List styles */
.pokemon-list{
   background-color:  #661326;;
   border: 2px solid #BFA181;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 0 10px #BFA181(0, 0, 0, 0.2);
}

.list-group-item{
    text-align: center;
    background-color: #540b1c;
    color:#A8BBB9;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.list-group-item:hover{
    background-color:#AA8086;
}

/*Modal */
.modal-content{
    background-color:#1e3a5f;
    border-radius: 2px solid black;
}
.modal-title{
    color: #BFA181;
}
.pokemon-image{
    max-width: 100px;
    border: 3px solid #1e3a5f;
	border-radius: 10%;
	background-color: #ffffff;
	padding: 5px;
    align-content: center;
}
.pokemon-height,
.pokemon-weight,
.pokemon-types {
    font-size: 1rem;
    color: #a9abc6;
    text-align: center;
}
/*  Button Override */
.btn-primary {
	background-color: #661326;
	border-color: #4682b4;
	color: #f0f8ff;
	font-size: 1rem;
}

.btn-primary:hover {
	background-color: #caadb1;
	border-color: #1e3a5f;
	color: #f0f8ff;
}


.btn-secondary {
	background-color: #4f2a31;
	border-color: #BFA181;
	color: #b0c4de;
	font-size: 1rem;
}

.btn-secondary:hover {
	background-color: #b0c4de;
	color: #BFA181;
	border-color: #b0c4de;
}